<div>
<%- if controller_name != 'sessions' %>
<div class= 'sign_in_flex'>
 <p style='margin-right: 0.5em;'>Sign In Account</p>
  <p><%= link_to 'Log in', new_session_path(resource_name) %><br /></p>
  </div>
<% end %>
</div>
<div>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class= 'sign_in_flex'>
      <p style='margin-right: 0.5em;'>Don't have an account?</p>
      <p> <%= link_to 'Sign up', new_registration_path(resource_name) %><br /></p>
    </div>
  <% end %>
</div>
<div>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class= 'sign_in_flex'>
      <p style='margin-right: 0.5em;'>Forget Password?</p>
      <p><%= link_to 'Forgot your password?', new_password_path(resource_name) %><br /></p>
    </div>
  <% end %>
</div>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
