<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <% @cart.line_items.reload.each do |line_item| %>

    <tbody>
      <tr>
        <td><%= line_item.product.product_name%></td>
        <td><%= line_item.product.product_price%></td>
        <td>
          <%= form_with model: line_item, method: :patch do |form| %>
            <div style = 'display: flex'>
              <div class='col-md-4'>
                <%= form.number_field :quantity, min: 1, max: 99, autofocus: true, autocomplete: 'quantity', class:'form-control input-md' %>
              </div>
              <div class='actions'>
                <%= form.submit 'save', class: 'btn btn-warning' %>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <%= button_to 'Delete', line_item_path(line_item), method: :delete, data: { confirm: 'Are you sure?' },  class:'btn btn-danger' %>
        </td>
      </tr>
    </tbody>
    <% end %>
</table>
<% if @cart.line_items != nil%>
  <%= button_to 'Place Order', orders_path , method: :post,  class:'btn btn-warning' %>
<% end %>

