<div class='container'>
  <div class='row row-cols-5'>
    <% @products.each do |product| %>
      <div class="card" style="width: 15rem; height :15rem; margin :0.5rem;">
      <% if product.images.attached?%>
        <% (0...product.images.count).each do |image| %>
          <%= image_tag(product.images[0], {:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
          <% break %>
        <% end %>
      <% else %>
        <%= image_tag('product_default_image/default_product_image.png',  {:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
      <% end %>
      <div class="card-body">
          <h5 class="card-title"><%= product.product_name %></h5>
          <p class="card-text"><%= product.product_price%></p>
          <%= link_to 'show', product_path(product), class:'btn btn-warning bt-sm' %>
          <% if product.user == current_user%>
            <%= link_to 'Edit', edit_product_path(product), class:'btn btn-secondary btn-sm' %>
            <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %>
          <% else %>

            <a href="#" class="btn btn-primary btn-sm">Add to Cart</a>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
