
<div class="jumbotron">

    <% (0...@product.images.count).each do |image| %>
      <%= image_tag(@product.images[image],{:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
    <% end %>
  <% if @product.images.count == 0%>
     <%= image_tag('product_default_image/default_product_image.png',  {:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
  <% end %>
  <h1 class="display-4">
  <%= @product.product_name %>
  <%= @product.product_price %>
  </h1>
  <p class="lead">
    <%= @product.product_price%>
  </p>
  <br/>
  <br/>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-secondary" %> |
    <%= link_to 'Back', products_path, class:"btn btn-secondary" %>
  </p>
</div>
