<div class='jumbotron'>
  <% @product.images.each do |image| %>
    <%= image_tag(image,{:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
  <% end %>
  <% unless @product.images%>
    <%= image_tag('product_default_image/default_product_image.png',  {:style => 'margin-left: 15px;margin-right: 10px;height :100px;width :180px;'})%>
  <% end %>
  <h1 class='display-4'>
    <%= @product.product_name %>
  </h1>
  <p class='lead'>
    <%= @product.product_price%>
  </p>
  <hr class='my-4'>
  <p class='lead'>
    <% if @product.user == current_user%>
      <%= link_to 'Edit', edit_product_path(@product), class:'btn btn-secondary' %> |
      <%= link_to 'Back', products_path, class:'btn btn-secondary' %>
    <% end %>
    <% unless @product.user == current_user%>
      <h2>Add a comment:</h2>
      <%= render partial: 'reviews/form', local: {product: @product}%>
    <% end%>
    <div id = 'comments'>
      <h4><strong>Comments:</strong></h4>
      <%= render partial: 'reviews/comment', locals: {product: @product} %>
    </div>
  </p>
</div>

