<% @product.reviews.each do |review| %>
  <div style=' display: flex; '>
    <p style='margin-right:15rem'><%= review.content%></p>
    <%# <small><%= review.user.email%></small>
    <%# <span> <%= time_ago_in_words(review.created_at)%> </span>
    <%if current_user == review.user%>
      <div style=' display: flex; align-items: center; justify-content: center;'>
        <div class = 'form-group'>
          <%= button_to 'Delete', [product, review],class:'btn btn-danger', method: :delete%>
        </div>
        <div class = 'form-group'>
          <%= link_to 'Edit', edit_product_review_path(product, review)  , class:'btn btn-warning' %>
        </div>
      </div>
      <%
=begin %>

      <div id='edit-form-<%= review.id%>' class=''>
        <%= render partial: 'reviews/form', product: @product, review: review%>
      </div>
      <%
=end %>
    <%end%>
  </div>
  <p></p>
<% end %>
